{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        [
            "component",
            [
                {
                    "libraryName": "element-ui",
                    "styleLibraryName": "theme-chalk"
                }
            ]
        ]
    ]
}
//{
//    "presets": [
//        ["env", { "modules": false }],
//        "stage-2"
//    ],
//    "plugins": ["transform-runtime","transform-vue-jsx"],
//    "comments": false
//}

